.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
/* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    
}


/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
    display: flex;
    justify-content: space-between;
}
.header-nav-list,
.address {
    display: none;
}
.logo {
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}
.logo-studio {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-menu-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 40px;
}
.mobile-menu-nav-item:hover,
.mobile-menu-nav-item:focus,
.mobile-menu-nav-item:active {
    color: #4d5ae5;
}

.address-mobile {
    margin-bottom: 48px;
}

.address-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
}

.address-list-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-item-link:hover,
.address-list-item-link:focus,
.address-list-item-link:active {
    color: #4d5ae5;
}

.mobile-menu-social-list { 
    display: flex;
    gap: 40px;
}

.mobile-menu-social-item {
    width: 40px;
    height: 40px;
    
}

.mobile-menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.icon-mobile-menu {
    fill: #fff;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link:active {
    background-color: #31d0aa;
}
@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .header .container {
        align-items: center;
    }
    .header-nav-list {
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-weight: 500;
        color: #2E2F42;
        font-size: 16px;
        display: flex;
        gap: 40px;
    }       
    .header-nav-list-inform.current {
        position: relative;
    }
        
    .header-nav-list-inform.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
    }
    .header-nav-list-inform:hover,
    .header-nav-list-inform:focus,
    .header-nav-list-inform.current {
        color: #404bbf;
    }
    .logo {
        margin-right: 120px;
    }
    .address {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
    }
    .address-list-item-link {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-nav {
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.17;
        font-size: 18px;
        color: #2E2F42;
        display: flex;
        align-items: center;
    }
    .header-nav-list-inform  {
        color: #2e2f42;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
    }
    .address-list {
        gap: 12px;
    }
    .mobile-menu {
        display: none;
    }
}


@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
    .address-list {
        display: flex;
        gap: 40px;
        flex-direction: row;
        }
    .address-list-item-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    }
}
/* hero baner */
.hero-baner {
    display: flex;
    align-items: center;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), 
    url(../images/people-office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;;
    max-width: 320px;
    height: 432px;
    margin: 0 auto;
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .hero-baner {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office-mobile@2x.jpg");
    }
}
.hero-baner-head {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
}
.hero-baner-button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .hero-baner {
        max-width: 768px;
        height: 436px;
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/people-office-tablet.jpg);
    }
    .hero-baner-head {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        padding: 0;
    }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-baner{
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office-tablet@2x.jpg");
    }
}

@media screen and (min-width: 1158px) {
    .hero-baner {
        max-width: 1440px;
        height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .hero-baner-head {
        margin-bottom: 48px;
    }
    
    .hero-baner-button:hover,
    .hero-baner-button:focus {
        background-color: #404BBF;
    }
}
@media screen and (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-baner {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office-desktop@2x.jpg");
    }
}

/* Benefits */ 

.benefits {
    padding: 96px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-icon {
    display: none;
}
.benefits-list-item:not(:last-child) {
    margin-bottom: 72px;
}
.benefits-list-item-head {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-list-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px
    }
    .benefits-list-item:not(:last-child) {
        margin-bottom: 0;
    }
    .benefits-list-item-head { 
        display: flex;
    }
    .benefits-list-item-text {
        max-width: 356px;
    }
}
@media screen and (min-width: 1158px) {
    .benefits {
        padding: 120px 0;
    }
    .benefits-list {
        display: flex;
        gap: 24px;
    }
    .benefits-icon {
        display: block;
    }
    .benefits-icon-container {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }
    .benefits-list-item {
        width: calc((100% - 72px) / 4);
    }
    .benefits-list-item-head {
        font-size: 20px;
    }
    .benefits-list-item-text {
        font-weight: 400;
    }
}
/* Our team */
.our-team {
    text-align: center;
    background-color: #F4F4FD;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding: 96px 0;
}
.our-team-head {
    font-size: 36px;
    margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.our-team-container {
    padding: 32px 0;
}
.our-team-list-item {
    background-color: #FFFFFF;
    max-width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 
    rgba(46, 47, 66, 0.16), 0 1px 6px 0 
    rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.our-team-list-item:not(:last-child) {
    margin-bottom: 72px;
}
.our-team-item-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}
.our-team-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    font-size: 16px;
    margin-bottom: 8px;
}
.team-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;

}
.team-item-icon {
    width: 40px;
    height: 40px;
}
.team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}
.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
}
.team-icon {
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .our-team-list {
        gap: 64px 24px;
    }
    .our-team-list-item:not(:last-child) {
    margin-bottom: 0;
    }
}
@media screen and (min-width: 1158px) {
    .our-team {
        padding: 120px 0;
    }
}

/* Our portfolio */
.text-overlay {
    display: none;
}
.our-portfolio {
    padding: 96px 0;
}
.our-portfolio-head {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}
.our-portfolio-list {
    max-width: 288px;
}
.our-portfolio-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0
    rgba(46, 47, 66, 0.16), 0 1px 6px 0 
    rgba(46, 47, 66, 0.08);
}
.our-portfolio-list-item:not(:last-child) {
    margin-bottom: 48px;
}
.our-portfolio-item-head {
    margin-left: 16px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2E2F42;
    margin-bottom: 8px;
}
.our-portfolio-item-text {
    margin-left: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
.our-portfolio-text {
    padding: 32px 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    }
@media screen and (min-width: 768px) {
    .our-portfolio-list {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
        }
    .our-portfolio-list-item {
        width: calc((100% - 24px) / 2);
        margin: 0;
    }
}
@media screen and (min-width: 1158px) {
    .our-portfolio {
        padding: 120px 0;
    }
    .our-portfolio-list {
        max-width: 1158px;
        gap: 48px 24px;
    }
    .our-portfolio-list-item {
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: calc((100% - 48px) / 3);
    }
    .our-portfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .our-portfolio-list-item:hover .text-overlay {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0);
    }
    .overlay {
        position: relative;
        overflow: hidden;
    }
    
    .text-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        color: #f4f4fd;
        padding-top: 45px;
        padding-left: 32px;
        letter-spacing: 0.02em;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transform: translateY(100%);
        padding: 40px 32px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .our-portfolio-list-item:hover {
        transform: translateY(0);
    }
}

/* Footer */
.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}
.footer-container-logo {
    margin-bottom: 72px;
}
.footer-logo {
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: center;
}
.footer-logo-studio {
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #F4F4FD;
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.footer-container-social {
    margin-bottom: 72px;
}
.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
.team-list-icon.footer {
    gap: 16px;
    padding: 0;
}

.team-link-footer {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.team-link-footer:hover,
.team-link-footer:focus {
    background-color: #31d0aa;
}
.subscribe-label {
    margin: 0 auto;
}
.subscribe-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.subscribe-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}
.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}
.subscribe-button {
    cursor: pointer;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input::placeholder {
    color: #fff;
}
.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
}
.icon-subcribe {
    fill: #fff;
    margin-left: 16px;
}
@media screen and (min-width: 768px) {
    .footer-container {
        max-width: 584px; 
    }
    .footer-container-logo-social {
        display: flex;
        gap: 24px;
    }
    .footer-logo {
        justify-content: flex-start;
    }
    .subscribe-text {
        text-align: start;
    }
    .subscribe-form {
        flex-direction: row;
        gap: 16px;  
    }
    .subscribe-label {
        margin: 0;
    }
    .subscribe-input {
        width: 264px;
    }
    .subscribe-button {
        margin: 0;
    }
}
@media screen and (min-width: 1158px) {
    .footer {
        padding: 120px 0;
    } 
    .footer-container {
        max-width: 1158px;
        display: flex;
    }
    .footer-container-logo {
        margin: 0;
    }
    .footer-container-logo-social {
        margin: 0;
        gap: 0;
    }
    .footer-text {
        margin: 0;
    }
    .footer-container-logo {
        margin-right: 120px;
        width: 264px;
    }
    .footer-container-social {
        margin: 0;
        margin-right: 80px;

    }
    .footer-social-text {
        text-align: start;
    }
    .subscribe-container {
        margin: 0;
    }
    .subscribe-input {
        opacity: 0.6;
    }
}
/* MOdal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    fill: #fff;
    border: none;
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
}
.label-container {
    margin-bottom: 8px;
}
.label-modal {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}
.input-modal:hover,
.input-modal:focus {
    border-color: #4d5ae5;
    outline: none;
}
.input-modal:hover+.icon-modal,
.input-modal:focus+.icon-modal {
    fill: #4d5ae5;
}
.input-container {
    position: relative;
    margin-top: 4px;
}
.input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-modal {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.text-modal {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-modal:hover,
.text-modal:focus {
    border-color: #4d5ae5;
    outline: none;
}
.text-modal::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-container {
    margin-bottom: 24px;
}
.checkbox-span-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
}
.checkbox-icon {
    fill: #fff;
}
.checkbox-modal:checked+.checkbox-label .checkbox-span-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}
.privacy-policy {
    line-height: 1.3;
    text-decoration: underline;
    color: #4d5ae5;
    margin-bottom: 24px;
}
.modal-btn-submit {
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin: 0 auto;
}
.modal-btn-submit:hover,
.modal-btn-submit:focus {
    background-color: #404BBF
}
@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}
